{% extends 'cms/cms_base.html' %}

{% block title %}
    CMS用户管理
{% endblock %}

{% block head %}
<script src="{{ static('cms/js/cms_user.js') }}"></script>
{% endblock %}

{% block page_title %}
    {{self.title()}}
{% endblock %}

{% block main_content %}
     <table class="table table-bordered">
        <thead>
            <tr>
                <th>用户</th>
                <th>邮箱</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for user in user %}
                <tr data-id="{{ user.id }}" >
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.join_time }}</td>
                    <td>
                        <button class="btn btn-danger btn-xs">移除</button>
                    </td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
{% endblock %}